@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

header,
footer {
  background-color: #1f2937;
}

#hero h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

#hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.btn,
h2 {
  color: #3882f6;
}
