/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Reset default spacing and box sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Header */
.header {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 20px 100px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

#nav-bar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.logo {
  font-size: 24px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.btn,
h2 {
  background-color: #3882f6;
}

#information h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

#quote {
  background-color: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

h3 {
  background-color: #e5e7eb;
  font-size: 30px;
  font-weight: 100;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

#nav-bar ul {
  display: flex;
  align-items: row;
  list-style: none;
  gap: 20px;
}

.column-40 #description {
  display: flex;
}

.column-60 .img-div {
  display: flex;
  justify-content: flex-end;
}
